<div id="heading">
    <h3 class="fs-3 text-danger">New Deals!</h3>
</div>
<div id="product-canvas">
    <app-product-card>
        <h5 class="card-title" #item1>iPhones</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus est delectus quod exercitationem ratione aliquid tempore velit ex possimus sint iste, debitis ad quos provident, at ipsum, dignissimos fugit. Odio doloremque quibusdam voluptatibus quasi, est sit hic!</p>
    </app-product-card>

    <app-product-card>
        <h5 class="card-title" #item2>Laptops</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus est delectus quod exercitationem ratione aliquid tempore velit ex possimus sint iste, debitis ad quos provident, at ipsum, dignissimos fugit. Odio doloremque quibusdam voluptatibus quasi, est sit hic!</p>
    </app-product-card>

    <app-product-card>
        <h5 class="card-title" #item3>Headphones</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus est delectus quod exercitationem ratione aliquid tempore velit ex possimus sint iste, debitis ad quos provident, at ipsum, dignissimos fugit. Odio doloremque quibusdam voluptatibus quasi, est sit hic!</p>
    </app-product-card>

    <app-product-card>
        <h5 class="card-title" #item4>Monitors</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus est delectus quod exercitationem ratione aliquid tempore velit ex possimus sint iste, debitis ad quos provident, at ipsum, dignissimos fugit. Odio doloremque quibusdam voluptatibus quasi, est sit hic!</p>
    </app-product-card>
</div>