*{
    margin: 0;
}
header{
    text-align: center;
}
header h1{
    color: rgb(120, 10, 10);
    font-size: 3em;
}
#content{
    padding: 2em;
}
#content ul li{
    font-size: 1.5em;
    padding: 0.5em;
}
#content ul li mark{
    padding: 0.1em 0.5em 0.1em 0.5em;
    background-color: silver;
    color: rgb(120, 10, 10);
}
#code{
    padding: 2em;
}
#code pre{
    font-size: 1.5em;
    font-weight: 600;
}
#code p{
    font-size: 1.25em;
    font-weight: 500;
}
#info{
    padding: 1.5em;
    background-color: yellow;
}

