* {
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: rgb(230, 230, 230);
}

header {
  background-color: rgb(40, 40, 40);
  text-align: center;
  padding: 5px 0px 5px 0px;
  height: 7vh;
  width: 100vw;
}
header h1 {
  font-family: "Unbounded", cursive;
  font-size: 3em;
  color: rgb(250, 250, 250);
}
header img {
  height: 3em;
}
header #img-div {
  display: inline-block;
  position: absolute;
  left: 5em;
  top: auto;
}

section {
  background-color: rgb(230, 230, 230);
}
section .game-card {
  background-color: rgb(48, 25, 52);
  margin: 1em 3em 1em 3em;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 20px;
}
section .game-card p {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  color: white;
  font-size: 2em;
}
section .game-card img {
  height: 3em;
  width: 3em;
}
section .game-card a {
  text-decoration: none;
}
section .game-card a p:hover {
  text-decoration: underline;
}
section .game-card .card-content-wrapper {
  display: flex;
}

footer {
  background-color: #002244;
  color: rgb(250, 250, 250);
  text-align: center;
}
footer p {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 1.5em;
}
footer hr {
  width: 90%;
  margin: auto;
}
footer #copyright {
  font-weight: bold;
}
footer .social-logos {
  padding: 1em 1em 1em 1em;
  height: 3em;
  width: 3em;
}

@media screen and (max-width: 1250px) {
  header #img-div {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  header h1 {
    font-size: 2em;
  }
  section .game-card {
    padding: 1.5em;
  }
  section .game-card p {
    font-size: 1.5em;
  }
  section .game-card img {
    height: 2.5em;
    width: 2.5em;
  }
  section .game-card .card-content-wrapper {
    display: flex;
  }
}
@media screen and (max-width: 700px) {
  header {
    height: 5vh;
  }
  header h1 {
    font-size: 1.5em;
  }
  footer .social-logos {
    height: 2em;
    width: 2em;
  }
}
@media screen and (max-width: 550px) {
  header {
    height: 4vh;
  }
  header h1 {
    font-size: 1em;
  }
}
@media screen and (max-width: 350px) {
  header {
    height: 4vh;
  }
  header h1 {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 750px) {
  section .game-card {
    padding: 1.2em;
  }
  section .game-card p {
    font-size: 1.2em;
  }
  section .game-card img {
    height: 2em;
    width: 2em;
  }
  section .game-card .card-content-wrapper {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  section .game-card {
    padding: 1em;
  }
  section .game-card p {
    font-size: 1em;
  }
  section .game-card img {
    height: 1.5em;
    width: 1.5em;
  }
  section .game-card .card-content-wrapper {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  section .game-card {
    padding: 1em;
  }
  section .game-card p {
    font-size: 0.8em;
  }
  section .game-card img {
    height: 1.2em;
    width: 1.2em;
  }
  section .game-card .card-content-wrapper {
    display: flex;
  }
  footer .social-logos {
    height: 1.5em;
    width: 1.5em;
  }
}
@media screen and (max-width: 450px) {
  section .game-card {
    padding: 0.8em;
  }
  section .game-card p {
    font-size: 0.6em;
  }
  section .game-card img {
    height: 1em;
    width: 1em;
  }
  section .game-card .card-content-wrapper {
    display: flex;
  }
}/*# sourceMappingURL=gamecard.css.map */