$headingFont : 'Unbounded', cursive;

$contentFont : 'Sofia Sans Extra Condensed', sans-serif;

$bodyColor : rgb(230,230,230);

*{
    margin: 0;
}

body{
    overflow-x: hidden;
    background-color: $bodyColor;
}

header{
    background-color: rgb(40, 40, 40);
    text-align: center;
    padding: 5px 0px 5px 0px;
    height: 7vh;
    width: 100vw;

    h1{
        font-family: $headingFont;
        font-size: 3em;
        color: rgb(250, 250, 250);
    }
    img{
        height: 3em;
    }
    #img-div{
        display: inline-block;
        position: absolute;
        left: 5em;
        top: auto;
    }
}

section{
    padding: 1em;
    hr{
        width: 98%;
        margin: auto;
        height: 0.1em;
        background-color: rgb(70, 70, 70);
    }
    #content-desc{
        text-align: center;
        h1{
            font-family: $contentFont;
            font-size: 3em;
        }
    }
    .team-name{
        padding: 1em 0em 0em 1em;
        h2{
            font-family: $contentFont;
            font-size: 2.5em;
        }
    }
    .team-score-wrapper{
        margin: 1em;
        table, th, td{
            border: 2px solid rgb(200, 200, 200);
            border-collapse: collapse;
            font-family: $contentFont;

            thead{
                th{
                    background-color: #002244;
                    color: white;
                    font-size: 1.5em;
                    padding: 0.5em 1em 0.5em 1em;
                }
            }
            tbody{
                th{
                    background-color: rgb(170, 170, 170);
                    color: black;
                    font-size: 1.5em;
                    padding: 0.5em 1em 0.5em 1em;
                }
                td{
                    color: rgb(90, 90, 90);
                    font-size: 1.5em;
                    padding: 0.5em 1em 0.5em 1em;
                }
            }
        }
    }
}

footer{
    background-color: #002244;
    color: rgb(250, 250, 250);
    text-align: center;

    p{
        font-family: $contentFont;
        font-size: 1.5em;
    }
    hr{
        width: 90%;
        margin: auto;
    }
    #copyright{
        font-weight: bold;
    }
    .social-logos{
        padding: 1em 1em 1em 1em;
        height: 3em;
        width: 3em;
    }
}

@media screen and (max-width: 1250px) {
    header{
        #img-div{
            display: none;
        }
    }
}
@media screen and (max-width: 1050px) {
    header{
        h1{
            font-size: 2em;
        }
    }
}

@media screen and (max-width: 700px) {
    header{
        height: 5vh;
        h1{
            font-size: 1.5em;
        }
    }
}
@media screen and (max-width: 550px) {
    header{
        height: 4vh;
        h1{
            font-size: 1em;
        }
    }
    footer{
        #socials{
            .social-logos{
                height: 2em;
                width: 2em;
            }
        }
    }
}
@media screen and (max-width: 350px) {
    header{
        height: 4vh;
        h1{
            font-size: 0.75em;
        }
    }
    footer{
        #socials{
            .social-logos{
                height: 1em;
                width: 1em;
            }
        }
    }
}
@media screen and (max-width:1500px) {
    section{
        .team-score-wrapper{
            overflow-x: auto;
        }
    }
}

