<form id="connector-wrapper" [formGroup]="tenantForm">
<mat-form-field appearance="fill">
    <mat-label>Tenant*</mat-label>
    <mat-select formControlName="firstTenant">
      <!-- <mat-option>-- None --</mat-option> -->
      <!-- <input type="text" matInput placeholder="Search tenant name" autocomplete="off" #firstTenantSearch (input)="OnFirstTenantInputChange()"> -->
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input type="text" matInput autocomplete="off" formControlName="firstTenantInp" (input)="OnFirstInputChange()">
      </mat-form-field>
      <!-- <mat-placeholder class="placeholder">Search</mat-placeholder> -->
      <mat-optgroup *ngFor="let tenant of tenantGroupOptionsA | async" [label]="tenant.tenantName">
        <mat-option *ngFor="let option of tenant.workflow" [value]="option.workflowID">{{option.workflowName}}</mat-option>
    </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tenant*</mat-label>
    <mat-select formControlName="secondTenant">
      <!-- <mat-option>-- None --</mat-option> -->
      <mat-form-field>
        <mat-label>Search</mat-label>
          <!-- <input type="text" matInput placeholder="Search tenant name" autocomplete="off" #secondTenantSearch (input)="OnSecondInputChange()"> -->
          <input type="text" matInput placeholder="Search tenant name" autocomplete="off" formControlName="secondTenantInp" (input)="OnSecondInputChange()">
      </mat-form-field>
      
      <mat-optgroup *ngFor="let tenant of tenantGroupOptionsB | async" [label]="tenant.tenantName">
        <mat-option *ngFor="let option of tenant.workflow" [value]="option.workflowID">{{option.workflowName}}</mat-option>
    </mat-optgroup>
    </mat-select>
  </mat-form-field>
</form>

  <button mat-flat-button color="primary" (click)="onClickSearch()">Search</button>
