<form id="form-wrapper" [formGroup]="addAdminForm" (ngSubmit)="addAdmin()">
    <div class="row">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" matInput id="username-input" formControlName="username">
            <mat-error id="name-error">Entered name must only contain valid alphabetical characters.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput id="password-input" formControlName="password">
            <mat-error>Your password must be 8-20 characters long.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>User Type</mat-label>
            <input type="text" matInput disabled value="admin">
        </mat-form-field>

        <button mat-flat-button color="primary" id="signup-btn" type="submit">Add Admin</button>
    </div>
</form>
