<section>
    <div id="wrapper">
        <form [formGroup]="bookRouteForm" (ngSubmit)="saveRoute()">
            <label for="from">From:</label>
            <select formControlName="fromCityName" (change)="changeFromCityValue($event)">
                <option value="none" selected disabled>Select a city</option>
                <option *ngFor="let fromCity of fromCitiesArray" [ngValue]="fromCity.name"
                    [disabled]="fromCity.isDisabled">
                    {{ fromCity.name }}
                </option>
            </select>

            <label for="to">To:</label>
            <select formControlName="toCityName" (change)="changeToCityValue($event)">
                <option value="none" selected disabled>Select a city</option>
                <option *ngFor="let toCity of toCitiesArray" [ngValue]="toCity.name" [disabled]="toCity.isDisabled">
                    {{ toCity.name }}
                </option>
            </select>

            <button type="submit" id="preference-selector">
                Add to the prefered route
            </button>
        </form>

    </div>
</section>

<footer>
    <ng-template [ngIf]="routes.length">
        <app-travelroute *ngFor="let route of routes" [from]="route.from" [to]="route.to"></app-travelroute>
        <button (click)="clearSelections()" id="clear">Clear Selections</button>
    </ng-template>
</footer>