<nav>
    <img id="main-logo" src="../../assets/icons/main-logo.webp" alt="main-logo">
    <div id="socials">
        <ul>
            <li><a href="https://www.facebook.com/" target="_blank"><img src="../../assets/icons/facebook.png" alt="facebook"></a></li>
            <li><a href="https://twitter.com/" target="_blank"><img src="../../assets/icons/twitter.png" alt="twitter"></a></li>
            <li><a href="https://www.linkedin.com/" target="_blank"><img src="../../assets//icons//linkedin.png" alt="linkedin"></a></li>
        </ul>
    </div>
</nav>
