<nav>
    <a routerLink="/"><img id="main-logo" src="../../assets/main-logo.webp" alt="main-logo"></a>
    <div id="socials">
        <ul>
            <li><a href="https://www.facebook.com/" target="_blank"><img src="../../assets/facebook.png" alt="facebook"></a></li>
            <li><a href="https://twitter.com/" target="_blank"><img src="../../assets/twitter.png" alt="twitter"></a></li>
            <li><a href="https://www.linkedin.com/" target="_blank"><img src="../../assets/linkedin.png" alt="linkedin"></a></li>
        </ul>
    </div>
</nav>
