<table>
    <thead>
        <tr>
            <th></th>
            <th>1Q</th>
            <th>2Q</th>
            <th>3Q</th>
            <th>4Q</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th id="first-team">{{firstTeam}}</th>
            <td>47</td>
            <td>46</td>
            <td>45</td>
            <td>25</td>
            <th class="final-score">163</th>
        </tr>
        <tr>
            <th id="second-team">{{secondTeam}}</th>
            <td>45</td>
            <td>49</td>
            <td>45</td>
            <td>21</td>
            <th class="final-score">160</th>
        </tr>
    </tbody>
</table>