*{
    margin: 0;
}
header{
    text-align: center;
}
header h1{
    font-size: 3em;
}
body{
    overflow: hidden;
}
section{
    padding: 2em;
}
input{
    padding: 0.75em;
    border: 1px solid black;
    border-radius: 5px;
}
textarea{
    resize: none;
}
button{
    padding: 0.75em 1.5em;
    margin: 0 50%;
}
.warning{
    color: red;
    font-size: 0.9em;
    display: inline;
}
#message-display{
    text-align: center;
    padding: 2em;
    color: green;
}