.panel{
    width: 20vw;
    background-color: rgb(32,35,42);
    padding: 20px;
    border: none;
    border-radius: 20px;
}
.panel h1{
    color: white;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.panel a{
    color: aliceblue;
    font-size: 1.5em;
}
.panel ul li{
    padding-block: 10px;
}
#panel-wrapper{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}