<h1>Kendo Grid</h1>
<kendo-grid
  [kendoGridBinding]="gridData"
  [pageable]="true"
  [pageSize]="10"
  [sortable]="true"
  [filterable]="true"
  [groupable]="true"
>
  <kendo-grid-column field="ID" title="ID"></kendo-grid-column>
  <kendo-grid-column field="ContactName" title="ContactName"></kendo-grid-column>
  <kendo-grid-column field="CompanyName" title="CompanyName"></kendo-grid-column>
  <kendo-grid-column field="ContactTitle" title="ContactTitle"></kendo-grid-column>
  <kendo-grid-column field="City" title="City"></kendo-grid-column>
</kendo-grid>
<router-outlet></router-outlet>