<form [formGroup]="userSignupForm" id="card-wrapper" (ngSubmit)="signUp()">
    <mat-card>
        <mat-card-header>
            <mat-card-title><h1>Signup Form (Reactive)</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="mb-3">
                    <mat-label>Full Name</mat-label>
                    <input type="text" matInput id="formGroupExampleInput" formControlName="fullName" required>
                </mat-form-field>
                <mat-form-field class="mb-3">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput id="emailInput" formControlName="email" required>
                </mat-form-field>
                <mat-form-field class="mb-3 col-md-6">
                    <mat-label>Phone</mat-label>
                    <input type="tel" matInput id="phoneInput" pattern="[0-9]{10}" formControlName="phone" required>
                </mat-form-field>
                <mat-form-field class="mb-3 col-md-6">
                    <mat-label>Age</mat-label>
                    <input type="number" matInput id="ageInput" max="65" min="13" formControlName="age" required>
                </mat-form-field> 
                <mat-form-field class="mb-3">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput id="passwordInput" formControlName="password" required>
                    <mat-hint align="end">(Must be 8-20 characters long.)</mat-hint>
                </mat-form-field>
                <mat-form-field class="mb-3">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput id="confirmPasswordInput" formControlName="confirmPassword" required>
                </mat-form-field>
                <div id="passwordHelpBlock" class="form-text" *ngIf="showWarning" style="color: crimson;">
                    Your passwords don't match.
                </div>
            </div>  
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-flat-button color="primary" class="signup-btn">SignUp</button>
        </mat-card-actions>
    </mat-card>
</form>

