<form id="card-wrapper" [formGroup]="userSignupForm" (ngSubmit)="signUp()">
    <mat-card>
        <mat-card-header>
            <mat-card-title><h1>Signup Form</h1></mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <mat-form-field class="mb-3">
                    <mat-label>Full Name</mat-label>
                    <input type="text" matInput id="nameInput" formControlName="fullName">
                    <mat-error id="name-error">Entered name must only contain alphabetical characters.</mat-error>
                </mat-form-field>

                <mat-form-field class="mb-3">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput id="emailInput" formControlName="email">
                    <mat-error id="email-error">Enter a valid email address.</mat-error>
                </mat-form-field>

                <mat-form-field class="mb-3 col-md-6">
                    <mat-label>Mobile</mat-label>
                    <input type="tel" matInput id="phoneInput" pattern="[0-9]{10}" formControlName="phone">
                    <mat-error>Enter a valid mobile number.</mat-error>
                </mat-form-field>

                <mat-form-field class="mb-3 col-md-6">
                    <mat-label>Age</mat-label>
                    <input type="number" matInput id="ageInput" formControlName="age">
                    <mat-error>You must be 18 years old to register.</mat-error>
                </mat-form-field>

                <mat-form-field class="mb-3">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput id="passwordInput" formControlName="password">
                    <mat-error>Your password must be 8-20 characters long.</mat-error>
                </mat-form-field>

                <mat-form-field class="mb-3">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput id="confirmPasswordInput" formControlName="confirmPassword">
                </mat-form-field>
                <div *ngIf="passwordMatchingWarning" style="color:crimson;">Your passwords didn't match.</div>
            </div>  
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-flat-button color="primary" class="signup-btn" type="submit"
            >SignUp</button>
        </mat-card-actions>
    </mat-card>
</form>
