<div class="container mt-5">
    <div class="row">
        <div class="col col-md4 offset-md-4">
            <a routerLink="/add" class="btn btn-success mb-5">Add A New Book</a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let cake of allCakes$ | async">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ cake.name }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: {{ cake.cost }}</li>
                    </ul>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" [routerLink]="['/edit', cake.id]">Edit</a> |
                    <button type="button" class="btn btn-danger" (click)="openDeleteModal(cake.id)">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure to delete this item?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-danger" (click)="confirmDelete()">
                    Confirm Delete
                </button>
            </div>
        </div>
    </div>
</div>