#header{
    text-align: center;
    background-color: rgb(70, 70, 70);
    padding-block: 10px;
}
#header h1{
    color: white;
    font-size: 3em;
}
#routing-options-wrapper{
    background-color: rgb(50, 50, 50);
    padding-block: 10px;
    margin-bottom: 50px;
}
#routing-options-wrapper .routing-options{
    margin:30px;
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-family: sans-serif;
}
#routing-options-wrapper .routing-options:hover{
    text-decoration: underline;
}