body{
    margin: 0;
    padding: 0;
    background-color: rgba(100, 149, 237, 0.5);
}
header{
    text-align: center;
    height: 150px;
    background-color:rgb(20,20,20);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
header h1{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: azure;
}
#main-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 70px;
    gap: 30px;
}
.team-card{
    border: 3px solid rgb(150, 150, 150);
    padding: 30px 10px 20px 100px;
    width: 15vw;
    background-color: white;
}
.team-card:hover{
    background-color: rgb(192,192,192);
    border-radius: 30px;
}
.team-card h2, p{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}
.team-card h2{
    font-size: 35px;
}
.team-card p{
    font-size: 30px;
    font-weight: 500;
}

@media screen and (max-width: 500px){
    .team-card{
        width: 100%;
        padding: 50px 100px 50px 50px;
    }
    #main-content-wrapper{
        padding: 30px;
    }
}
@media screen and (max-width: 850px){
    .team-card{
        width: 50%;
    }
}