#connector-wrapper{
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding-block: 20px;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    button{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}