.route{
    display: flex;
    justify-content: center;
    padding-block: 10px;
    border: 1px solid black;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.route span{
    font-family: sans-serif;
    color: rgb(50, 50, 50);
    font-size: 1.25em;
    margin-left: 35px;
    margin-right: 35px;
}