<h1>About Us</h1>
<mat-card class="about-card">
    <mat-card-header>
        <div mat-card-avatar class="about-header-image"></div>
        <mat-card-title>Legacy Computers</mat-card-title>
        <mat-card-subtitle>Delhi, India</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magni, velit asperiores deleniti ad quisquam mollitia commodi enim laborum illo distinctio ratione officiis at nobis officia assumenda adipisci debitis repellendus optio expedita hic autem accusamus ipsum. Delectus, distinctio officiis? Nam nulla, hic quaerat minus facere consequatur recusandae molestiae vitae optio ipsa placeat quod excepturi voluptas dolorum accusamus dolores alias! Iste quod tenetur expedita maiores voluptate fuga at alias, velit, doloribus explicabo tempora, obcaecati placeat libero illo consectetur! Eligendi at fuga dolorem veniam, provident libero facilis sunt perferendis maiores soluta deleniti voluptate veritatis voluptatem atque ut blanditiis, aspernatur et nobis expedita.
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa asperiores autem ipsam soluta id quo omnis voluptas aspernatur pariatur perferendis?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates magni, velit asperiores deleniti ad quisquam mollitia commodi enim laborum illo distinctio ratione officiis at nobis officia assumenda adipisci debitis repellendus optio expedita hic autem accusamus ipsum. Delectus, distinctio officiis? Nam nulla, hic quaerat minus facere consequatur recusandae molestiae vitae optio ipsa placeat quod excepturi voluptas dolorum accusamus dolores alias! Iste quod tenetur expedita maiores voluptate fuga at alias, velit, doloribus explicabo tempora, obcaecati placeat libero illo consectetur! Eligendi at fuga dolorem veniam, provident libero facilis sunt perferendis maiores soluta deleniti voluptate veritatis voluptatem atque ut blanditiis, aspernatur et nobis expedita.
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button class="action-btn"><img src="../../assets/telephone-fill.svg" alt="call"></button>
        <button mat-flat-button class="action-btn"><img src="../../assets/envelope-at-fill.svg" alt="email"></button>
    </mat-card-actions>
</mat-card>