#connector-wrapper{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 15vw;
    margin: 250px auto 0px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    text-align: center;

    mat-form-field{
        width: 100%;
        margin-block: 10px;

        mat-input{
            margin-left: 20px;
        }
    }
}