<div id="custom-wrapper">

    <div id="preference-wrapper">
        <div id="page-counter">
            <span id="current-question">{{currentQuestion}}</span>/<span id="total-questions">{{totalQuestions}}</span>
        </div>

        <div id="question">
            <div *ngFor="let question of proposedQuestions">
                <div *ngIf="question.id===currentQuestion">
                    <h1>{{question.title}}</h1>
                    <mat-checkbox color="warn" *ngFor="let option of question.options" value="option.cost">
                        {{option.title}}
                    </mat-checkbox>
                </div>
            </div>
        </div>

        <div id="button-wrapper">
            <button type="button" *ngIf="currentQuestion>1" mat-flat-button color="primary"
                (click)="goToPreviousQuestion()">Previous</button>
            <button type="button" *ngIf="currentQuestion<totalQuestions" mat-flat-button color="primary"
                (click)="goToNextQuestion()">Next</button>
            <button type="button" *ngIf="currentQuestion===totalQuestions" mat-flat-button
                color="accent">Confirm</button>
        </div>
    </div>

    <app-price-card [cost]="totalCost"></app-price-card>
</div>