<div id="custom-wrapper">

    <div id="preference-wrapper" *ngIf="showPreferencePanel; else finalContent">
        <div id="page-counter">
            <span id="current-question">{{currentQuestion}}</span>/<span id="total-questions">{{totalQuestions}}</span>
        </div>

        <div id="question">
            <div *ngFor="let question of proposedQuestions">
                <div *ngIf="question.id===currentQuestion">
                    <h1>{{question.title}}</h1>
                    <span *ngFor="let option of question.options">
                        <mat-checkbox color="warn" id="{{option.id}}" value="{{option.cost}}"
                        (change)="manageSelection($event, question.id)" checked="{{option.selected}}">
                        {{option.title}}
                        </mat-checkbox>
                    </span>
                </div>
            </div>
        </div>

        <div id="button-wrapper">
            <button type="button" *ngIf="currentQuestion>1" mat-flat-button color="primary"
                (click)="goToPreviousQuestion()">Previous</button>
            <button type="button" *ngIf="currentQuestion<totalQuestions" mat-flat-button color="primary"
                (click)="goToNextQuestion()">Next</button>
            <button type="button" *ngIf="currentQuestion===totalQuestions" mat-flat-button color="accent"
                (click)="hidePreferencePanel()">Confirm</button>
        </div>
    </div>
    <ng-template #finalContent>
        <div id="final-container">
            <button type="button" mat-raised-button color="warn" (click)="goBackToPreferencePanel()">Change
                Selections</button>
            <button type="button" mat-raised-button color="accent" (click)="askToContact()">Proceed</button>
        </div>
    </ng-template>

    <app-price-card [cost]="totalCost"></app-price-card>
</div>

<div>
    <span *ngFor="let selection of madeSelections">
        <span>{{selection.questionID}}</span>
        <span>{{selection.optionID}}</span>
    </span>
</div>