<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{productName}}</mat-card-title>
        <mat-card-subtitle>INR {{productPrice}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="imgPath" loading="lazy">
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci nobis iusto ipsum eum et, eveniet temporibus provident, vel illo, laborum ut debitis excepturi vitae! Iure, deserunt! Quibusdam tempore neque saepe?
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="action-btn">Show Details</button>
    </mat-card-actions>
</mat-card>