<footer>
    <br>
    <div id="about"><p>NBA.com is part of Warner Media, LLC’s Turner Sports & Entertainment Digital Network</p></div>
    <br>
    <div id="copyright"><p>© 2023 NBA Media Ventures, LLC. All rights reserved.</p></div>
    <br>
    <hr>
    <div id="socials">
        <a href="https://www.facebook.com/nba/"><img class="social-logos" src="" alt="facebook-logo"></a>
        <a href="https://www.instagram.com/nba/"><img class="social-logos" src="" alt="instagram-logo"></a>
        <a href="https://twitter.com/nba/"><img class="social-logos" src="" alt="twitter-logo"></a>
        <a href="https://www.reddit.com/r/nba/"><img class="social-logos" src="" alt="reddit-logo"></a>
        <a href="https://www.youtube.com/@NBA"><img class="social-logos" src="" alt="youtube-logo"></a>
    </div>
</footer>
