<mat-toolbar color="primary">
  <span>Student Information Portal</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openForm()">ADD STUDENT</button>
</mat-toolbar>

<div class="main-body">

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> <b>{{row.id}}</b> </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
        <td mat-cell *matCellDef="let row"> {{row.dob | date}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="selectedSubjects">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subjects </th>
        <td mat-cell *matCellDef="let row"> {{row.selectedSubjects}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="openEditForm(row)">
            <img src="../assets/edit.png" alt="edit">
          </button>
          <button mat-icon-button (click)="deleteStudent(row.id)">
            <img src="../assets/delete.png" alt="delete">
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


<router-outlet></router-outlet>