h1, h3, p{
    font-family: 'Dosis', sans-serif;
}
/* grouping selectors */
body{
    margin: 0;
}
header{
    background-color: rgba(200, 200, 200, 0.2);
    height: 100px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 50px;
}
p{
    font-size: 30px;
}
footer{
    padding-top: 50px;
    text-align: center;
}
#content-container{
    text-align: center;
    padding-top: 70px;
    padding-left: 30%;
}
#article-wrapper{
    height: auto;
    width: 50%;
    border: 5px solid black;
    padding: 20px;
}