nav {
    background-color: #002244;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #main-logo {
        width: 150px;
    }

    #socials {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                float: left;
                margin-left: 7px;
                margin-right: 7px;

                img {
                    width: 30px;
                }
            }
        }
    }
}